In [1]:
## to install required package to connect to the mysql workbench
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\priya\miniconda3\lib\site-packages (8.0.33)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in c:\users\priya\miniconda3\lib\site-packages (from mysql-connector-python) (3.20.3)

In [2]:
import mysql.connector as conn

In [4]:
## connection request by passing user and password
## password of your mysql workbench
mydb = conn.connect(host = "localhost", user='vikas', password="password")

In [5]:
## create a cursor or pointer
cursor = mydb.cursor()

In [6]:
## to execute any sql command in this file
cursor.execute('SHOW DATABASES')

In [7]:
cursor.fetchall()

[('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sakila',),
 ('swiggydata',),
 ('sys',),
 ('world',)]

In [8]:
cursor.execute('CREATE DATABASE swiggy')

In [9]:
cursor.execute('CREATE TABLE swiggy.swiggyOneusers_signup(userid integer,swiggyone_signup_date date)')

In [10]:
cursor.execute('USE swiggy')

In [11]:
cursor.execute('SHOW TABLES')

In [12]:
cursor.fetchall()

[('swiggyoneusers_signup',)]

In [13]:
cursor.execute('INSERT INTO swiggy.swiggyOneusers_signup(userid,swiggyone_signup_date) VALUES (1,"2017-09-22"),(3,"2017-04-21")');

In [14]:
## to make the changes reflected in the mysql workbench
## after every insertion in the table
mydb.commit()

In [15]:
cursor.execute('SELECT * FROM swiggy.swiggyOneusers_signup')
cursor.fetchall()

[(1, datetime.date(2017, 9, 22)), (3, datetime.date(2017, 4, 21))]

In [16]:
cursor.execute('CREATE TABLE swiggy.users(userid integer,signup_date date)')
cursor.execute('USE SWIGGY')
cursor.execute('SHOW TABLES');
cursor.fetchall()

[('swiggyoneusers_signup',), ('users',)]

In [17]:
cursor.execute('INSERT INTO SWIGGY.users(userid,signup_date) VALUES (1,"2014-02-09"),(2,"2015-01-15"),(3,"2014-04-11")')
cursor.execute('SELECT * FROM swiggy.users')
cursor.fetchall()

[(1, datetime.date(2014, 2, 9)),
 (2, datetime.date(2015, 1, 15)),
 (3, datetime.date(2014, 4, 11))]

In [18]:
mydb.commit()

In [19]:
cursor.execute('CREATE TABLE SWIGGY.sales(userid integer,created_date date,product_id integer)')
cursor.execute('USE SWIGGY')
cursor.execute('SHOW TABLES');
cursor.fetchall()

[('sales',), ('swiggyoneusers_signup',), ('users',)]

In [20]:
cursor.execute('INSERT INTO SWIGGY.sales(userid,created_date,product_id) VALUES (1,"2017-04-19",2), (3,"2019-12-18",1),(2,"2020-07-20",3)')

In [22]:
cursor.execute('INSERT INTO swiggy.sales(userid,created_date,product_id) VALUES (1,"2019-10-23",2), (1,"2018-03-19",3), (3,"2016-12-20",2), (1,"2016-09-11",1), (1,"2016-05-20",3)')
cursor.execute('INSERT INTO swiggy.sales(userid,created_date,product_id) VALUES (2,"2017-09-24",1),(1,"2017-03-11",2),(1,"2016-03-11",1),(3,"2016-11-10",1),(3,"2017-12-07",2),(3,"2016-12-15",2),(2,"2017-11-08",2),(2,"2018-09-10",3)')

In [23]:
cursor.execute('SELECT * FROM swiggy.sales')
cursor.fetchall()

[(1, datetime.date(2017, 4, 19), 2),
 (3, datetime.date(2019, 12, 18), 1),
 (2, datetime.date(2020, 7, 20), 3),
 (1, datetime.date(2019, 10, 23), 2),
 (1, datetime.date(2018, 3, 19), 3),
 (3, datetime.date(2016, 12, 20), 2),
 (1, datetime.date(2016, 9, 11), 1),
 (1, datetime.date(2016, 5, 20), 3),
 (2, datetime.date(2017, 9, 24), 1),
 (1, datetime.date(2017, 3, 11), 2),
 (1, datetime.date(2016, 3, 11), 1),
 (3, datetime.date(2016, 11, 10), 1),
 (3, datetime.date(2017, 12, 7), 2),
 (3, datetime.date(2016, 12, 15), 2),
 (2, datetime.date(2017, 11, 8), 2),
 (2, datetime.date(2018, 9, 10), 3)]

In [24]:
mydb.commit()

In [25]:
cursor.execute('CREATE TABLE swiggy.product(product_id integer,product_name text,price integer)')
cursor.execute('USE swiggy')
cursor.execute('SHOW TABLES');
cursor.fetchall()

[('product',), ('sales',), ('swiggyoneusers_signup',), ('users',)]

In [26]:
cursor.execute('INSERT INTO swiggy.product(product_id,product_name,price) VALUES (1,"p1",980),(2,"p2",870),(3,"p3",330)')

In [27]:
cursor.execute('SELECT * FROM swiggy.product')
cursor.fetchall()

[(1, 'p1', 980), (2, 'p2', 870), (3, 'p3', 330)]

In [28]:
mydb.commit()

In [29]:
## Sales analysis
## 1. What is the total amount each customer is spending on Swiggy?
cursor.execute('select s.userid, SUM(p.price) totalAmount FROM sales s INNER JOIN product p ON s.product_id = p.product_id GROUP BY s.userid')
cursor.fetchall()

[(1, Decimal('5230')), (3, Decimal('4570')), (2, Decimal('2510'))]

In [ ]:
## 2. What is the most purchased item on the menubar
## check sql file for solution